In [ ]:
# Comments are not read by the Python interpreter.

## Variables

In [1]:
var = "My Variable"

In [2]:
print(var)

My Variable

## Naming Conventions

snake_case

camelCase

PascalCase

In [3]:
my_variable = "A new variable"

Basic Data Types

In [6]:
# Strings, ints, floats, boolean

my_str = "12,345a;sdjkfla;ðŸ˜Š"
str2 = str("what our string is")
print(my_str)
str2

12,345a;sdjkfla;ðŸ˜Š

'what our string is'

In [8]:
my_int = 12
int2 = int(21)
int3 = int(21.999)

print(my_int,int2,int3)

12 21 21

In [9]:
my_float = 1.111
float2 = float(1)
print(my_float, float2)

1.111 1.0

In [10]:
str(my_float)

'1.111'

In [11]:
float(my_str)

ValueError: could not convert string to float: '12,345a;sdjkfla;ðŸ˜Š'

In [12]:
# booleans
boolean = True
my_bool = bool(my_str)
boolean, my_bool

(True, True)

In [13]:
type(boolean)

bool

In [14]:
type(my_str)

str

In [17]:
is_greater_than_twelve = my_int > 12
is_greater_than_twelve

False

In [21]:
a = my_str.upper()
b = str2.capitalize()
c = str2.title()
d = str2.count("a")

print(a,b,c,d)

12,345A;SDJKFLA;ðŸ˜Š What our string is What Our String Is 1

In [22]:
len(str2)

18

In [26]:
int(my_float) + my_int

13

In [27]:
4*2

8

In [28]:
4/2

2.0

In [29]:
4**2

16

In [39]:
import math
neg = 123.22
abs(neg)
math.floor(neg)
math.ceil(neg)

124